
<!DOCTYPE html>
<link rel="stylesheet" href="static/closed_item.css">
<html>
<body>
<button onclick="window.location.href='/home'">Home</button>
<p>The closed items are as follows:</p>
<table border="1">
  {% for row in rows %}
  <tr>
    {% for key, value in row.items() %}
    {% if key!='status' %}
      <td>{{value}}</td>
    {% endif %}
    {% endfor %}
  
<td><a href="/edit/{{row['id']}}"><button>Edit</button></a></td>

  </tr>


  {% endfor %}
</table>
<a href="/todo"><button>view opened items</button></a>
</body>
</html>